container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "cloud_backend.settings"
    "PYTHONPATH": "/opt/python/current/app/cloud_backend:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "cloud_backend/cloud_backend/wsgi.py"
