option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "cloud_backend.settings"
    "PYTHONPATH": "/opt/python/current/app/cloud_backend:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "cloud_backend/wsgi.py"
    StaticFiles: "/static/=static/"
  "aws:elasticbeanstalk:container:python:staticfiles":
   "/static/": "static/"
